@using DTShopping.Properties
@using DTShopping.Models
@model DTShopping.Models.Dashboard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Company = Session["Company"] as company;
    string imageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageUrl"];
    int CompanyId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CompanyId"]);
    if (imageUrl.EndsWith("/"))
    {
        imageUrl = imageUrl.Substring(0, imageUrl.LastIndexOf("/"));
    }

    var imageName = string.Empty;
    int SUNVISCOMPANYID = 29;
    int SHOPCOMPANYID = 28;
    int GOHAPPYCARTCOMPANYID = 30;
    int URSHOPECOMPANYID = 33;
    int OSMARKETCOMPANYID = 34;
    int SHOPENTERTAINMENTCOMPANYID = 37;
    int GVENTERTAINMENTCOMPANYID = 38;
    int SJLABSCOMPANYID = 40;
}
<style>
    .tAndC {
        background-image: url("~/images/questionMark.jpg");
        height: 20px;
        width: 20px;
    }

    .disabled {
        background-color: lightgray;
    }

    .contentText .fieldValue input {
        height: 29px !important;
    }
</style>
<div class="container">
    @if (Model.Products == null || Model.Products.Count() == 0)
    {
        <img src="~/images/emptyShoppingBag.jpg" height="20%" width="20%" style="margin-left:40%;" />
        <br />
        <span style="margin-left:46%">feel so light !!</span>
    }
    else
    {
        <div class="sixteen columns">
            <div id="bodyContent" class="twelve columns omega main_part_wrapper">
                <h1>your cart details</h1>

                <table cellspacing="5" cellpadding="5" border="0" style="width: 97%; border-collapse: collapse;" id="ItemList" class="shoptable">
                    <tbody>
                        <tr align="left" class="dgrdheader product-headborder">
                            <td bgcolor="#E4E4E4"><h3>Product</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Quantity</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Market Price</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Offer Price</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Discount Points</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Shipping Charge</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Net Price</h3></td>
                        </tr>

                        @foreach (var product in Model.Products)
                        {
                            imageName = product.small_image;
                            if (string.IsNullOrEmpty(product.small_image))
                            {
                                if (string.IsNullOrEmpty(product.medium_image))
                                {
                                    imageName = product.large_image;
                                }
                                else
                                {
                                    imageName = product.medium_image;
                                }
                            }
                            <tr align="left" class="dgrdcell">
                                <td>
                                    <img src="@imageUrl/@imageName" alt="@product.title" title="@product.title" width="50" height="50" class="scale-with-grid" />
                                    <br />
                                    <span>@product.title</span> <br>
                                    @if (!string.IsNullOrEmpty(product.product_size))
                                    {
                                        <span>Size : @product.product_size</span>
                                    }
                                    @if (!string.IsNullOrEmpty(product.Color))
                                    {
                                        <span>Color : @product.Color</span>
                                    }&nbsp;
                                </td>
                                <td>@product.vendor_qty</td>

                                <td>@product.market_price</td>

                                <td>@product.offer_price</td>

                                <td>@product.point_adjusted</td>

                                <td>@product.shippng_charge</td>

                                <td>@product.amount</td>
                            </tr>
                        }
                        <tr align="left" class="dgrdcell" bgcolor="#EBC6AD">
                            <td colspan="4">Your Cart Total</td>
                            <td colspan="4" align="right"><h3><span>Rs. @Model.NetPayment</span></h3></td>
                            <input type="hidden" value="@Model.NetPayment" id="totalCharge" />
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                @*<table width="97%" border="0" cellspacing="0" cellpadding="0" class="shoptable">

                        <tr>
                            <td width="25%" height="29"><strong>@Resources.CurrentAvailablePoints</strong></td>
                            <td width="54%">
                                <span class="fieldValue">
                                    <input type="checkbox" value="usePoints" name="usePoints" id="Pay1">
                                    <span>@Model.UsersPoints</span>
                                    <input type="hidden" value="@Model.UsersPoints" id="userPoints" />
                            </td>
                            <td align="left">
                                <button class="btn btn-primary btn-block saveBtn" id="pointSaveBtn" type="button">
                                    Pay
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td align="right">&nbsp;</td>
                        </tr>
                    </table>*@
                <p>&nbsp;</p>
                <table width="97%" border="0" cellspacing="5" cellpadding="5">
                    <tr>
                        <td width="53%" bgcolor="#E4E4E4" class="bordertop"><h3>Final Amount to Pay :</h3></td>
                        <td width="47%" align="right" bgcolor="#E4E4E4" class="bordertop">
                            <h3>
                                <span id="labelTotalCharge">
                                    Rs. @Model.NetPayment
                                </span>
                            </h3>
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div id="paymentOptions">
                    <table width="97%" border="0" cellspacing="5" cellpadding="5" class="shoptable" style="border:1px solid #CCCCCC;">
                        <tr>
                            <td width="53%"><h2>Payment Options</h2></td>
                            <td width="47%">&nbsp;</td>
                        </tr>
                        <tr bgcolor="#EBC6AD">
                            <td>
                                <div class="Paymenttd">
                                    <ul>
                                        <li>
                                            <input type="radio" value="offline" name="paymentmethod" id="Pay1">
                                            <b>Cheque / NEFT / RTGS</b><br>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            @if (CompanyId == SUNVISCOMPANYID || CompanyId == SHOPCOMPANYID || CompanyId == GOHAPPYCARTCOMPANYID || CompanyId == URSHOPECOMPANYID || CompanyId == OSMARKETCOMPANYID || CompanyId == SHOPENTERTAINMENTCOMPANYID || CompanyId == GVENTERTAINMENTCOMPANYID || CompanyId == SJLABSCOMPANYID)
                            {
                                <td>
                                    <div class="Paymenttd">
                                        <ul>
                                            <li>
                                                <input type="radio" value="dtcard" name="paymentmethod" id="Pay3">
                                                <b>
                                                    @*for company sunvis*@
                                                    @if (CompanyId == SUNVISCOMPANYID)
                                                    {
                                                        <span>My Sunvis Wallet ( Training & Main)</span>
                                                    }
                                                    else if (CompanyId == GOHAPPYCARTCOMPANYID)
                                                    {
                                                        <span>Shopping Wallet</span>
                                                    }
                                                    else
                                                    {
                                                        <span>e-Wallet Payment</span>
                                                    }
                                                </b>
                                            </li>


                                        </ul>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <div class="Paymenttd"></div>
                                </td>
                            }
                        </tr>
                        <tr bgcolor="#EBC6AD">
                            <td>
                                <div class="Paymenttd" style="width:130px;">
                                    <ul>
                                        <li>
                                            <input type="radio" value="walletPaymentModes" name="paymentmethod" id="Pay2">
                                            <b>PhonePe/PayTm</b><br>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="Paymenttd" style="width:235px;">
                                    <ul>
                                        <li>
                                            <input type="radio" value="cardPaymentMode" name="paymentmethod" id="Pay4">
                                            <b>Credit Card / Debit Card / Net Banking</b><br>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div id="offline">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addForm" onsubmit="return SaveDetailForm(false);">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.NetPayment, new { name = "NetPayment", id = "NetPayment" })
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted1", id = "pointAdjusted1" })
                                    <table style="display:inline-block;" border="0" width="50%" cellspacing="0" cellpadding="2">
                                        <tr width="50%">
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Supplier Bank Details</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.BankName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyBankName</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountType</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountType</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountNo</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.IFSCCode</label> : </td>
                                            <td class="fieldValue">@Company.CompanyIFSCCode</td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentMode</label> : </td>
                                            <td class="fieldValue">@Html.DropDownListFor(m => m.OrderDetail.payment_mode, new SelectList(Model.PaymentModeList, "Id", "value"), new { @required = "0", id = "PaymodeDropDown", @class = "form-control", @style = "width: 156px;height: 30px;" })</td>
                                        </tr>

                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefNo</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_no, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefDate</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.dt_payment_ref_date, new { @type = "text", @id = "RefDate", @required = "required", @class = "form-control datepicker", @placeholder = "MM-DD-YYYY" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefBank</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_bank, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefBranch</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_branch, new { @type = "text", @id = "paymentrefBranch", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefAmount</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_amount, new { @readonly = "readonly", @type = "number", @id = "amount", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">One Time Password (OTP)</label>:</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.OrderDetail.OtpCode, new { @type = "text", @id = "otpMessageBankTextBox", @required = "required", @class = "form-control", @placeholder = "" })
                                                <label style="color:red;">Registerd Mobile No. : @Model.User.otpPhone</label>
                                                <br />
                                                <a class="generateotp" data-value="otpMessageBank" name="lnkOtp">Click here to Generate OTP</a>
                                                <br />
                                                <label id="otpMessageBank" style="color:red;"></label>
                                            </td>
                                        </tr>
                                    </table>
                                    @*for company sunvis*@
                                    @if (CompanyId == SUNVISCOMPANYID)
                                    {
                                        <table style="display:inline-block; float:right;margin-top:10%;" border="0" width="50%" cellspacing="0" cellpadding="2">
                                            <tr style="margin-top:10px;">
                                                <td> <h3 style="text-align:center;">Terms and Condition</h3></td>
                                            </tr>
                                            <tr style="margin-top:10px;">
                                                <td>
                                                    1. The Customer making the payment through the selected mode shall be eligible to receive the utility coupons as selected within 24 working hours once the payment confirmation is done from the Bank.
                                                </td>
                                            </tr>
                                            <tr style="margin-top:10px;">
                                                <td>
                                                    2. upon submission of your request you shall receive a confirmation sms and email for the successful submission of your request.
                                                </td>
                                            </tr>
                                            <tr style="margin-top:10px;">
                                                <td>
                                                    3. The Customers shall be eligible to do the shopping at the respective outlet immediately after receiving the utility coupon at his / her email.
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>

                                <input type="checkbox" name="termsCondition" value="tnc1" /><button type="button" class="btn" data-toggle="modal" data-target="#myModal">Terms And Condition</button>
                                <label id="loginError" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction"><button class="unishop_button" id="tnc1" name="saveButton" type="submit">@Resources.Save</button></span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="walletPaymentModes">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addFormWallet" onsubmit="return SaveDetailForm(true);">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.NetPayment, new { name = "NetPayment", id = "NetPayment" })
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted1", id = "pointAdjusted1" })

                                    <table border="0" width="50%" style="display:inline-block;" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Supplier Bank Details</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.BankName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyBankName</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountType</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountType</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountNo</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.IFSCCode</label> : </td>
                                            <td class="fieldValue">@Company.CompanyIFSCCode</td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentMode</label> : </td>
                                            <td class="fieldValue">@Html.DropDownListFor(m => m.OrderDetail.payment_mode, new SelectList(Model.WalletPaymentModeList, "Id", "value"), new { @required = "0", id = "walletPaymodeDropDown", @class = "form-control", @style = "width: 156px;height: 30px;" })</td>
                                        </tr>
                                        <tr>

                                            <td class="fieldKey" colspan="2">
                                                <div id="Paytm" @*style="display:none;" *@>

                                                    <img src="@imageUrl/@Company.PaytmQrCode" alt="PaytmQRCode" title="PaytmQRCode" width="100" height="100" class="scale-with-grid" />

                                                </div>
                                                <div id="phonePay" style="display:none;">

                                                    <img src="@imageUrl/@Company.PhonePeQrCode" alt="PhonePeQRCode" title="PhonePeQRCode" width="100" height="100" class="scale-with-grid" />

                                                </div>
                                            </td>

                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefNo</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_no, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefDate</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.dt_payment_ref_date, new { @type = "text", @id = "RefDate1", @required = "required", @class = "form-control datepicker", @placeholder = "MM-DD-YYYY" })</td>
                                        </tr>
                                        @*
                                            <tr class="Bank">
                                                <td class="fieldKey"><label for="username">@Resources.PaymentRefBank</label> : </td>
                                                <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_bank, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                            </tr>
                                            <tr class="Bank">
                                                <td class="fieldKey"><label for="username">@Resources.PaymentRefBranch</label> : </td>
                                                <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_branch, new { @type = "text", @id = "paymentrefBranch", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                            </tr>*@
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefAmount</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_amount, new { @readonly = "readonly", @type = "number", @id = "amount", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">One Time Password (OTP)</label>:</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.OrderDetail.OtpCode, new { @type = "text", @id = "otpMessageWalletTextBox", @required = "required", @class = "form-control", @placeholder = "" })
                                                <label style="color:red;">Registerd Mobile No. : @Model.User.otpPhone</label>
                                                <br />
                                                <a class="generateotp" data-value="otpMessageWallet" name="lnkOtp">Click here to Generate OTP</a>
                                                <br />
                                                <label id="otpMessageWallet" style="color:red;"></label>
                                            </td>
                                        </tr>
                                    </table>
                                    @*for company sunvis*@
                                    @if (CompanyId == SUNVISCOMPANYID)
                                    {
                                        <table style="display:inline-block; float:right;margin-top:10%;" border="0" width="50%" cellspacing="0" cellpadding="2">
                                            <tr style="margin-top:10px;">
                                                <td> <h3 style="text-align:center;">Terms and Condition</h3></td>
                                            </tr>
                                            <tr style="margin-top:10px;">
                                                <td>
                                                    Dear Customer you have selected the payment option through a secured payment gateway and the transaction is being monitored through a secured SSL for the security of the transaction.
                                                    There shall be an additional convenience charge ( if any )to be charged by the payment gateway provider and the same shall be payable in addition by the customer.
                                                </td>
                                            </tr>
                                        </table>
                                    }
                                </div>
                                <label id="loginErrorW" style="color:red;"></label>
                                <input type="checkbox" name="termsCondition" value="tnc2" data-value="otpMessageWallet" /><button type="button" class="btn" data-toggle="modal" data-target="#myModal">Terms And Condition</button>
                                <div class="buttonSet">
                                    <span class="buttonAction"><button class="unishop_button" id="tnc2" name="saveButton" type="submit">@Resources.Save</button></span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="dtcard">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addForm1" onsubmit="return false;">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.Hidden("Amount", Model.NetPayment)

                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        @if (CompanyId == SHOPENTERTAINMENTCOMPANYID || CompanyId == GVENTERTAINMENTCOMPANYID)
                                        {
                                            <tr><td></td></tr>
                                            <tr>
                                                <td>
                                                    @Html.RadioButtonFor(m => m.User.WalletType, "M")

                                                    <b>Main Wallet</b>
                                                </td>
                                                <td>
                                                    @Html.RadioButtonFor(m => m.User.WalletType, "R")
                                                    <b>Shopping Wallet</b>
                                                </td>
                                            </tr>
                                        }
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Shopping Wallet Process</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">User ID</label> : </td>
                                            <td class="fieldValue">@Model.User.username</td>
                                        </tr>
                                        @if (CompanyId != URSHOPECOMPANYID)
                                        {
                                            <tr>
                                                <td class="fieldKey"><label for="username">Password</label> : </td>
                                                <td class="fieldValue">@Html.TextBoxFor(m => m.User.password_str, new { @type = "password", @id = "paymentPassword", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                            </tr>
                                        }
                                    </table>
                                </div>
                                <label id="loginError1" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction">
                                        <button class="unishop_button" id="ConfirmPassword" type="submit">
                                            @if (CompanyId == URSHOPECOMPANYID)
                                            {
                                                @Resources.CheckWalletBalance
                                            }
                                            else
                                            {
                                                @Resources.ConfirmPassword
                                            }
                                        </button>

                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="dtcardOTP" style="display:none;">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addFormOTP" onsubmit="return SaveDetailFormOtp();">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted2", id = "pointAdjusted2" })

                                    @Html.Hidden("Amount", Model.NetPayment)
                                    @Html.HiddenFor(m => m.User.WalletType)

                                    <br /><br />
                                    <h2 style="font-family:'Oswald';font-size:16px;">Current Wallet Balance : <span id="walletAmount"></span></h2>
                                    <br /><br />
                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Shopping Wallet Process</h3>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="fieldKey"><label for="username">User ID</label>:</td>
                                            <td class="feWidget">@Model.User.username</td>
                                            @Html.HiddenFor(m => m.User.password_str)
                                        </tr>

                                        <tr>
                                            <td class="fieldKey"><label for="username">One Time Password (OTP)</label>:</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.User.OtpCode, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })
                                                <label style="color:red;">Registerd Mobile No. : @Model.User.otpPhone</label>
                                                <br />
                                                OTP is send to registered mobile no.<a class="generateotp" id="lnkOtp" style="color:blue;"> (Resend)</a>
                                                <br />
                                                <label id="otpMessage" style="color:red;"></label>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <label id="loginError2" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction">
                                        <button class="unishop_button" type="submit">
                                            @Resources.ConfirmOTP
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div id="cardPaymentMode">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addForm" onsubmit="return SaveDetailForm(false);">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.NetPayment, new { name = "NetPayment", id = "NetPayment" })
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted1", id = "pointAdjusted1" })

                                    @*for company sunvis*@
                                    @if (CompanyId == SUNVISCOMPANYID)
                                    {
                                        <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                            <tr style="margin-top:10px;">
                                                <td> <h3 style="text-align:center;">Terms and Condition</h3></td>
                                            </tr>
                                            <tr class="Common">
                                                <td>
                                                    Dear Customer you have selected the payment option through a secured payment gateway and the transaction is being monitored through a secured SSL for the security of the transaction.
                                                    There shall be an additional convenience charge ( if any )to be charged by the payment gateway provider and the same shall be payable in addition by the customer.
                                                </td>
                                            </tr>

                                        </table>
                                    }
                                </div>
                                <label id="loginError" style="color:red;"></label>
                                @*<div class="buttonSet">
                                        <span class="buttonAction"><button class="unishop_button" type="submit">Continue</button></span>
                                    </div>*@
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                @if (Model.CompanyProfileDetail != null)
                {
                    <p> @Html.Raw(Model.CompanyProfileDetail.TermsAndCondition) </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/unishop_theme/unishop_js/jquery-ui.js"></script>
    @*
        <script src="~/Scripts/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/shopping.js?v=1"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</head>
<script>
    var jq = $.noConflict();
    jq(".preloader").hide();
    //$("#mWallet").attr('checked', 'checked');
    jq('.datepicker').datepicker({
    });
</script>