@using DTShopping.Properties
@using DTShopping.Models
@model DTShopping.Models.Dashboard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Company = Session["Company"] as company;
    string imageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageUrl"];
    if (imageUrl.EndsWith("/"))
    {
        imageUrl = imageUrl.Substring(0, imageUrl.LastIndexOf("/"));
    }
}


<div class="container">
    @if (Model.Products == null || Model.Products.Count() == 0)
    {
        <img src="~/images/emptyShoppingBag.jpg" height="20%" width="20%" style="margin-left:40%;" />
        <br />
        <span style="margin-left:46%">feel so light !!</span>
    }
    else
    {
        <div class="sixteen columns">
            <div id="bodyContent" class="twelve columns omega main_part_wrapper">
                <h1>your cart details</h1>

                <table cellspacing="5" cellpadding="5" border="0" style="width: 97%; border-collapse: collapse;" id="ItemList" class="shoptable">
                    <tbody>
                        <tr align="left" class="dgrdheader product-headborder">
                            <td bgcolor="#E4E4E4"><h3>Product</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Quantity</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Market Price</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Offer Price</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Discount Points</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Shipping Charge</h3></td>
                            <td bgcolor="#E4E4E4"><h3>Net Price</h3></td>
                        </tr>

                        @foreach (var product in Model.Products)
                        {
                            <tr align="left" class="dgrdcell">
                                <td>
                                    <img src="@imageUrl/@product.small_image" alt="@product.title" title="@product.title" width="50" height="50" class="scale-with-grid" />
                                    <span>@product.title</span> <br>&nbsp;
                                </td>
                                <td>@product.vendor_qty</td>

                                <td>@product.market_price</td>

                                <td>@product.offer_price</td>

                                <td>@product.point_adjusted</td>

                                <td>@product.shippng_charge</td>

                                <td>@product.amount</td>
                            </tr>
                        }
                        <tr align="left" class="dgrdcell" bgcolor="#EBC6AD">
                            <td colspan="4">Your Cart Total</td>
                            <td colspan="4" align="right"><h3><span>Rs. @Model.NetPayment</span></h3></td>
                            <input type="hidden" value="@Model.NetPayment" id="totalCharge" />
                        </tr>
                    </tbody>
                </table>
                <p>&nbsp;</p>
                @*<table width="97%" border="0" cellspacing="0" cellpadding="0" class="shoptable">

                        <tr>
                            <td width="25%" height="29"><strong>@Resources.CurrentAvailablePoints</strong></td>
                            <td width="54%">
                                <span class="fieldValue">
                                    <input type="checkbox" value="usePoints" name="usePoints" id="Pay1">
                                    <span>@Model.UsersPoints</span>
                                    <input type="hidden" value="@Model.UsersPoints" id="userPoints" />
                            </td>
                            <td align="left">
                                <button class="btn btn-primary btn-block saveBtn" id="pointSaveBtn" type="button">
                                    Pay
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                            <td align="right">&nbsp;</td>
                        </tr>
                    </table>*@
                <p>&nbsp;</p>
                <table width="97%" border="0" cellspacing="5" cellpadding="5">
                    <tr>
                        <td width="53%" bgcolor="#E4E4E4" class="bordertop"><h3>Final Amount to Pay :</h3></td>
                        <td width="47%" align="right" bgcolor="#E4E4E4" class="bordertop">
                            <h3>
                                <span id="labelTotalCharge">
                                    Rs. @Model.NetPayment
                                </span>
                            </h3>
                        </td>
                    </tr>
                </table>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div id="paymentOptions">
                    <table width="97%" border="0" cellspacing="5" cellpadding="5" class="shoptable" style="border:1px solid #CCCCCC;">
                        <tr>
                            <td width="53%"><h2>Payment Options</h2></td>
                            <td width="47%">&nbsp;</td>
                        </tr>
                        <tr bgcolor="#EBC6AD">
                            <td>
                                <div class="Paymenttd">
                                    <ul>
                                        <li>
                                            <input type="radio" value="offline" name="paymentmethod" id="Pay1">
                                            <b>Cheque / DD / Cash / NEFT / RTGS</b><br>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="Paymenttd">
                                    <ul>
                                        <li>
                                            <input type="radio" value="dtcard" name="paymentmethod" id="Pay3">
                                            <b>e-Wallet Payment</b>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div class="Paymenttd" style="width:130px;">
                                    <ul>
                                        <li>
                                            <input type="radio" value="walletPaymentModes" name="paymentmethod" id="Pay2">
                                            <b>PhonePe/PayTm</b><br>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        @*<tr>
                                <td>You can Deposit a cheque / DD / Cash /NEFT /RTGS </td>
                                <td>Prepaid Card /e-Wallet Card. </td>
                            </tr>*@
                    </table>

                    <div id="offline">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addForm" onsubmit="return SaveDetailForm(false);">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.NetPayment, new { name = "NetPayment", id = "NetPayment" })
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted1", id = "pointAdjusted1" })


                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Supplier Bank Details</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.Bank_Name</label> : </td>
                                            <td class="fieldValue">@Company.CompanyBankName</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountType</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountType</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountNo</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.IFSCCode</label> : </td>
                                            <td class="fieldValue">@Company.CompanyIFSCCode</td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentMode</label> : </td>
                                            <td class="fieldValue">@Html.DropDownListFor(m => m.OrderDetail.payment_mode, new SelectList(Model.PaymentModeList, "Id", "value"), new { @required = "0", id = "PaymodeDropDown", @class = "form-control", @style = "width: 156px;height: 22px;" })</td>
                                        </tr>

                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefNo</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_no, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefDate</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.dt_payment_ref_date, new { @type = "text", @id = "RefDate", @required = "required", @class = "form-control", @placeholder = "MM-DD-YYYY" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefBank</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_bank, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefBranch</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_branch, new { @type = "text", @id = "paymentrefBranch", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefAmount</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_amount, new { @type = "number", @id = "amount", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>

                                    </table>
                                </div>
                                <label id="loginError" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction"><button class="unishop_button" type="submit">@Resources.Save</button></span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="walletPaymentModes">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addFormWallet" onsubmit="return SaveDetailForm(true);">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.NetPayment, new { name = "NetPayment", id = "NetPayment" })
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted1", id = "pointAdjusted1" })


                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Supplier Bank Details</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountName</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.Bank_Name</label> : </td>
                                            <td class="fieldValue">@Company.CompanyBankName</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountType</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountType</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.AccountNo</label> : </td>
                                            <td class="fieldValue">@Company.CompanyAccountNumber</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.IFSCCode</label> : </td>
                                            <td class="fieldValue">@Company.CompanyIFSCCode</td>
                                        </tr>

                                        <tr>
                                            <td colspan="2">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">@Resources.PaymentMode</label> : </td>
                                            <td class="fieldValue">@Html.DropDownListFor(m => m.OrderDetail.payment_mode, new SelectList(Model.WalletPaymentModeList, "Id", "value"), new { @required = "0", id = "walletPaymodeDropDown", @class = "form-control", @style = "width: 156px;height: 22px;" })</td>
                                        </tr>
                                        <tr>

                                            <td class="fieldKey" colspan="2">
                                                <div id="Paytm" @*style="display:none;"*@>

                                                    <img src="@imageUrl/@Company.PaytmQrCode" alt="PaytmQRCode" title="PaytmQRCode" width="100" height="100" class="scale-with-grid" />

                                                </div>
                                                <div id="phonePay" style="display:none;">

                                                    <img src="@imageUrl/@Company.PhonePeQrCode" alt="PhonePeQRCode" title="PhonePeQRCode" width="100" height="100" class="scale-with-grid" />

                                                </div>
                                            </td>

                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefNo</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_no, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefDate</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.dt_payment_ref_date, new { @type = "text", @id = "RefDate", @required = "required", @class = "form-control", @placeholder = "MM-DD-YYYY" })</td>
                                        </tr>
                                        @*<tr class="Bank">
                                                <td class="fieldKey"><label for="username">@Resources.PaymentRefBank</label> : </td>
                                                <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_bank, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                            </tr>
                                            <tr class="Bank">
                                                <td class="fieldKey"><label for="username">@Resources.PaymentRefBranch</label> : </td>
                                                <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_branch, new { @type = "text", @id = "paymentrefBranch", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                            </tr>*@
                                        <tr class="Common">
                                            <td class="fieldKey"><label for="username">@Resources.PaymentRefAmount</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.OrderDetail.payment_ref_amount, new { @type = "number", @id = "amount", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>

                                    </table>
                                </div>
                                <label id="loginErrorW" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction"><button class="unishop_button" type="submit">@Resources.Save</button></span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div id="dtcard">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addForm1" onsubmit="return false;">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.Hidden("Amount", Model.NetPayment)

                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Shopping Wallet Process</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">User ID</label> : </td>
                                            <td class="fieldValue">@Model.User.username</td>
                                        </tr>
                                        <tr>
                                            <td class="fieldKey"><label for="username">Password</label> : </td>
                                            <td class="fieldValue">@Html.TextBoxFor(m => m.User.password_str, new { @type = "password", @id = "paymentPassword", @required = "required", @class = "form-control", @placeholder = "" })</td>
                                        </tr>
                                    </table>
                                </div>
                                <label id="loginError1" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction">
                                        <button class="unishop_button" id="ConfirmPassword" type="submit">
                                            @Resources.ConfirmPassword
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="dtcardOTP" style="display:none;">
                        <form data-parsley-validate class="validateForm form-horizontal form-style" id="addFormOTP" onsubmit="return SaveDetailFormOtp();">
                            <div class="contentContainer">
                                <div class="contentText">
                                    @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted2", id = "pointAdjusted2" })
                                    @Html.Hidden("Amount", Model.NetPayment)

                                    <table border="0" width="97%" cellspacing="0" cellpadding="2">
                                        <tr>
                                            <td colspan="2" style="background:#efefef;">
                                                <h3 style="font-family:'Oswald';font-size:16px;">Shopping Wallet Process</h3>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="fieldKey"><label for="username">User ID</label>:</td>
                                            <td class="feWidget">@Model.User.username</td>
                                            @Html.HiddenFor(m => m.User.password_str)
                                        </tr>

                                        <tr>
                                            <td class="fieldKey"><label for="username">One Time Password (OTP)</label>:</td>
                                            <td>
                                                @Html.TextBoxFor(m => m.User.OtpCode, new { @type = "text", @id = "paymentrefno", @required = "required", @class = "form-control", @placeholder = "" })
                                                <a class="generateotp" id="lnkOtp">Click here to Generate OTP</a>
                                                <br />
                                                <label id="otpMessage" style="color:red;"></label>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                <label id="loginError2" style="color:red;"></label>
                                <div class="buttonSet">
                                    <span class="buttonAction">
                                        <button class="unishop_button" type="submit">
                                            @Resources.ConfirmOTP
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>

    }
</div>

<script src="~/Scripts/shopping.js?v=1"></script>