@model DTShopping.Models.Dashboard
@{
    Layout = "~/Views/Shared/_LayoutOrange.cshtml";
    ViewBag.Title = "Checkout";
    int CompanyId = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["CompanyId"]);
}

<div class="ps-page--simple">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="~/Home/Index">Home</a></li>
                <li>Shopping Cart</li>
            </ul>
        </div>
    </div>
    <div class="ps-checkout ps-section--shopping">
        <div class="container">
            <div class="ps-section__header">
                <h3>Product Shipping</h3>
            </div>
            <div class="ps-section__content">
                <form class="ps-form--checkout" id="addorderForm" onsubmit="return SaveOrderForm();">
                    <div class="row">
                        @Html.HiddenFor(m => m.OrderDetail.point_adjusted, new { name = "pointAdjusted2", id = "pointAdjusted2" })
                        @Html.Hidden("Amount", Model.NetPayment)

                        @Html.HiddenFor(m => m.OrderDetail.delievryType, new { @id = "deliveryType" })
                        @Html.HiddenFor(m => m.OrderDetail.user_id)
                        @Html.HiddenFor(m => m.OrderDetail.id)

                        <div class="col-xl-7 col-lg-8 col-md-12 col-sm-12  ">
                            <div class="ps-form__billing-info">
                                <h3 class="ps-form__heading">Billing Details</h3>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_first_name, new {@class = "form-control", @type = "text", @id = "companyName", @required = "required", @placeholder = "First Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_last_name, new { @class = "form-control", @type = "text", @id = "billing_last_name", @required = "required", @placeholder = "Last Name" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_address_1, new { @class = "form-control", @type = "text", @id = "billing_address_1", @required = "required", @placeholder = "Address 1" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_address_2, new { @class = "form-control", @type = "text", @id = "billing_address_2", @required = "required", @placeholder = "Address 2" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.DropDownListFor(m => m.OrderDetail.billing_state, new SelectList(Model.States, "Id", "Name"), new { @required = "0", id = "stateList", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.DropDownListFor(m => m.OrderDetail.billing_city, new SelectList(Model.Cities, "cityID", "cityName"), new { @required = "0", id = "cityList", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_postcode, new { @class = "form-control", @type = "text", @id = "billing_postcode", @required = "required", @placeholder = "Pin Code" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_phone, new { @class = "form-control", @type = "text", @id = "billing_phone", @required = "required", @placeholder = "Mobile Number" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group__content">
                                        @Html.TextBoxFor(m => m.OrderDetail.billing_email, new { @type = "email", @class = "form-control", @id = "billing_email", @required = "required", @placeholder = "Email" })
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 col-md-12 col-sm-12 bg-light">
                            <div class="ps-form__total">
                                <p> &nbsp;</p>
                                <h3 class="ps-form__heading">Your Order</h3>
                                <div class="content">
                                    <div class="ps-block--checkout-total">
                                        @if (Model.Products != null)
                                        {
                                            <div class="ps-block__header">
                                                <p>Product</p>
                                                @*<p>Total</p>*@
                                            </div>
                                            <div class="ps-block__content">
                                                <table class="table ps-block__products">
                                                    <tbody>
                                                        @foreach (var pro in Model.Products)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <a href="#"> @pro.title</a>
                                                                    @*<p>Sold By:<strong>YOUNG SHOP</strong></p>*@
                                                                </td>
                                                                <td>Rs. @pro.amount</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                                <hr>
                                                <h3 class="pull-left">Total Amount  </h3>
                                                <h3 class="pull-right">  <span class="pull-right"> Rs.  @Model.NetPayment</span></h3>
                                            </div>
                                        }
                                    </div>@*<a class="ps-btn ps-btn--fullwidth" id="ConfirmPassword1" href="#"> Submit </a>*@
                                    <button class="ps-btn ps-btn--fullwidth" id="ConfirmPassword1" type="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    function SaveOrderForm() {
        $(".preloader").show();
        var objorder = $('#addorderForm').serialize();
        var deliveryTypeVal = $('#deliveryType').val();

        $.ajax({
            url: '/Home/CreateOrder',
            type: 'Post',
            datatype: 'Json',
            data: objorder
        }).done(function (result) {
            $(".preloader").hide();
            if (result == "Success") {
                window.location.href = "/Manage/GetCartProductList?isWithPayment=true&deliveryType=" + deliveryTypeVal;
            }
            ///alert(result.ResponseValue);
            //location.reload();
        }).fail(function (error) {
            $("#error").html(error.statusText);
            $(".preloader").hide();
        });

        return false;
    }
</script>


<script src="~/Scripts/shopping.js"></script>